<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database\PIMSDentistaKo.mdb;Jet OLEDB:Database Password = dQXpe}3]?Rx&amp;.7zh*cZ^;"
			 providerName="System.Data.OleDb"/>
	</connectionStrings>
</configuration>